// First
$primary: #999999;
$primary2: #cccccc;
$primaryLight: #ffffff;
$primaryDark: #333333;
$primaryLight2: #e5e5e5;
$primaryLight3: #f5f5f5;
$primaryLight4: #f8f8f8;

// Secondary
$secondary: #fce38a;
$secondaryRed: #f38181;
$secondaryGreen: #95e1d3;

