// First

$primary: #292f36;
$primaryLight: #8d8f92;
$primaryLight2: #a4aead;
$primaryLight3: #ccd0d7;
$primaryLight4: #e1e6ea;
$primaryDark: #1d2126;
$primaryDark2:#5b6168;

// Secondary

$secondary: #23b7a4;
$tertiary: #ffffff;